extends ../layout
block content
    div.sa_pozadinom
        .container
            br
            div
                .row
                    .col-md-4.text-left.offset-md-4
                        .card.text-center
                            .card-header
                                b Kontakt
                            .card-body
                                ul
                                    li Broj telefona:&nbsp
                                        b 069123456
                                    li E-mail:&nbsp
                                        b info@moviex.com

    