extends ../layout
block content
    div.sa_pozadinom
        .container
            br
            div
                .row
                    .col-md-4.text-left.offset-md-4
                        .card.text-center
                            .card-header
                                b O bioskopu
                            .card-body
                                ul
                                    div MovieX je novootvoreni bioskop u Zaječaru.Poseduje 4 bioskopske sale opremljene najsavremenijom opremom.Nalazi se u strogom centru grada u ulici Zorana Radmilovića.
                                    div 
                                        b Radno vreme
                                    li Radni dani:&nbsp
                                        b 12:00-01:00
                                    li Vikend:&nbsp
                                        b 10:00-02:00

    

    